<!DOCTYPE HTML>
<html>
    <head>
        <script type="text/javascript" src="http://10.0.0.10:35729/livereload.js?"></script>

        <meta charset="utf-8">
        <title><%= @item[:title] %></title>
        <meta name="description" content="<%= @item[:description] %>" />

        <link href="../../build/spry.min.css" rel="stylesheet" />
        <link href="../../build/jquery-2.1.3.min.js" rel="stylesheet" />
        <link href="../../build/spry.min.js" rel="stylesheet" />
    </head>
    <body>
        <%= yield %>
    </body>
</html>
