/* colors definition of spry design */
$color-spry-end: (
    "white": #ffffff,
);


$colors-spry-design: (

    "white": #ffffff,
    "black": #000000,

    "grey-smoke": #f7f7f7,
    "grey-platinum": #e4e4e4,
    "grey-iron": #cacaca,
    "grey-ghost": #b0b0b0,
    "grey": #a3a3a3,
    "grey-shady": #8c8c8c,
    "grey-storm": #737373,
    "grey-stone": #363d48,
    "grey-mine": #333333,

    "red": #ff3e67,
    "green": #64c778,
    "yellow": #ffdc36,
    "blue": #4299cb,

    "cyan": #00dad0,
    "cyan-viking": #41bdc5,


    "bond-blue": #198d98,
    "shamrock-green": #009757,
    "red-orange": #fb544b
);

// Generate Colors
@each $color_name, $color_value in $colors-spry-design {
    .color-spry-#{$color_name} {
        color: $color_value !important;
    }
    .color-spry-#{$color_name}-back {
        background-color: $color_value !important;
    }
}