/* colors definition of spry design */

$colors-spry-design: (

    // kind of pure
    "white": #ffffff,
    "black": #000000,
    "red": #ff3e67,
    "green": #64c778,
    "yellow": #ffdc36,
    "blue": #4299cb,
    "cyan": #00dad0,

    // kind of mix
    "ghost-white": #fafbfc,
    "white-smoke": #f7f7f7,
    "blue-moon": #eeeeff,
    "solitude": #e9eff5,
    "platinum": #e4e4e4,
    "lilac": #e6e9eb,
    "lily-white": #eaeaea,
    "iron": #cacaca,
    "ghost": #c3c4c7,
    "shady-lady": #9e9e9f,
    "bombay": #a0a0a0,
    "storm-grey": #737a87,
    "big-stone": #363d48,
    "oil": #333333,
    "viking": #41bdc5,
    "bond-blue": #198d98,
    "shamrock-green": #009757,
    "red-orange": #fb544b
);

// Generate Colors
@each $color_name, $color_value in $colors-spry-design {
    .color-spry-#{$color_name} {
        color: $color_value !important;
    }
    .color-spry-#{$color_name}-back {
        background-color: $color_value !important;
    }
}