/* colors definition of material design */

$red: (
  "lighten-5": #FFEBEE,
  "lighten-4": #FFCDD2,
  "lighten-3": #EF9A9A,
  "lighten-2": #E57373,
  "lighten-1": #EF5350,
  "base":      #F44336,
  "darken-1":  #E53935,
  "darken-2":  #D32F2F,
  "darken-3":  #C62828,
  "darken-4":  #B71C1C,
  "accent-1":  #FF8A80,
  "accent-2":  #FF5252,
  "accent-3":  #FF1744,
  "accent-4":  #D50000
);


// Color Classes

@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .#{$color_name} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text {
        color: $color_value !important;
      }
    }
    @else {
      .#{$color_name}.#{$color_type} {
        background-color: $color_value !important;
      }      
      .#{$color_name}-text.text-#{$color_type} {
        color: $color_value !important;
      }
    }
  }
}

// Shade classes
@each $color, $color_value in $shades {
  .#{$color} {
    background-color: $color_value !important;
  }
  .#{$color}-text {
    color: $color_value !important;
  }
}


// usage: color("name_of_color", "type_of_color")
// to avoid to repeating map-get($colors, ...)

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{name}` in $colors.";
  @return null;
}

