// Source Serif Pro

@font-face {
    font-family: 'Source Serif Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('font/source-serif-pro/WOFF/OTF/SourceSerifPro-Light.otf.woff') format('woff'),
}

@font-face {
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('font/source-serif-pro/WOFF/OTF/SourceSerifPro-Regular.otf.woff') format('woff'),
}

@font-face {
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('font/source-serif-pro/WOFF/OTF/SourceSerifPro-Bold.otf.woff') format('woff'),
}

// Source Code Pro

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('font/source-code-pro/WOFF/OTF/SourceCodePro-Light.otf.woff') format('woff'),
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('font/source-code-pro/WOFF/OTF/SourceCodePro-Regular.otf.woff') format('woff'),
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('font/source-code-pro/WOFF/OTF/SourceCodePro-Bold.otf.woff') format('woff'),
}