/* global styles */

::-moz-selection {
    background: map_get($colors-spry-design, "cyan");
    color: #fff;
    text-shadow: none;
}

::selection {
    background: map_get($colors-spry-design, "cyan");
    color: #fff;
    text-shadow: none;
}

* {
    font-family: $font_priority_ui;
    font-weight: map_get($font_weight, "regular");
    text-decoration: none;
    line-height: 1rem;
    word-spacing: 0.2rem;
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
}

html {
    // Prevent iOS text size adjust after orientation change, without disabling
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

h1 {
    font-weight: normal;
    font-size: 2.5rem;
    margin: 1rem 0;
    padding: 0;
}

h2 {
    font-weight: normal;
    font-size: 2rem;
    margin: 1rem 0;
    padding: 0;
}

h3 {
    font-weight: normal;
    font-size: 1.6rem;
    margin: 1rem 0;
    padding: 0;
}

h4 {
    font-weight: normal;
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 0;
}

h5 {
    font-weight: normal;
    font-size: 1rem;
    margin: 1rem 0;
    padding: 0;
}

h6 {
    font-weight: normal;
    font-size: 0.8rem;
    margin: 1rem 0;
    padding: 0;
}

p {
    font-weight: normal;
    font-size: 1.2rem;
    word-spacing: 0.2rem;
    line-height: 1.5rem;
}

ol, ul, li {
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

a {
    word-wrap: break-word;
    color: map_get($colors-spry-design, "blue");
    background-color: transparent;
}

a:active, a:hover {
    outline: 0;
}

b, strong {
    font-weight: bold;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    padding: 0;
    margin: 0;
}

pre {
    overflow: auto;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5rem;
}

sub {
    bottom: -0.25rem;
}

article, article * {
    font-family: $font_priority_reading;
    margin: 1rem 0;
}

blockquote {
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0 1rem;
    color: map_get($colors-spry-design, "storm-grey");
    border-left: 0.3rem solid map_get($colors-spry-design, "platinum");
}

mark, code {
    font-family: $font_priority_code;
    font-size: 1rem;
    line-height: 1.2rem;
    word-spacing: 0;
    word-wrap: break-word;
    padding: 0.1rem;
    border: 0.1rem solid map_get($colors-spry-design, "iron");
    background-color: map_get($colors-spry-design, "ghost-white");
}

.code {
    border: 0.1rem solid map_get($colors-spry-design, "iron");
    background-color: map_get($colors-spry-design, "ghost-white");

    pre {
        margin: 1rem;

        code {
            font-size: 0.9rem;
            word-wrap: normal;
            border: 0;
            background-color: transparent;

            span {
                font-family: $font_priority_code;
                font-size: 1rem;
                line-height: 1.5rem;
                word-spacing: 0;
            }
        }
    }
}

.separator {
    background-color: map_get($colors-spry-design, "black");
    margin: 1.2em 0;
    padding: 0;

    &.size-1 {
        height: 0.05em;
    }

    &.size-2 {
        height: 0.1em;
    }

    &.size-3 {
        height: 0.2em;
    }

    &.size-4 {
        height: 0.3em;
    }
}

.space {
    width: 100%;

    &.size-1 {
        height: 0.5em;
    }

    &.size-2 {
        height: 1em;
    }

    &.size-3 {
        height: 2em;
    }
}

.center {
    text-align: center;
}