/* typeface management */
/*
 * UI font priority:
 *     English: 'Source Sans Pro', 'Lucida Grande', 'Helvetica Neue', 'Arial'
 *     Chinese: 'Hiragino Sans GB', 'Heiti SC', 'Heiti TC', 'STHeiti', 'STXihei', "Microsoft YaHei"
 *     FallBack: 'Sans-Serif', serif
 * code font priority:
 *     English: 'Source Code Pro', 'Source Sans Pro', 'Lucida Grande', 'Helvetica Neue', 'Arial'
 *     Chinese: 'Hiragino Sans GB', 'Heiti SC', 'Heiti TC', 'STHeiti', 'STXihei', "Microsoft YaHei"
 *     FallBack: 'Sans-Serif', serif
 */

// font family
$font_priority_ui: 'Source Sans Pro', 'Lucida Grande', 'Helvetica Neue', 'Hiragino Sans GB', 'Heiti SC', 'Heiti TC', 'STHeiti', 'STXihei', 'Arial', "Microsoft YaHei";
$font_priority_reading: 'Lucida Grande', 'Helvetica Neue', 'Source Sans Pro', 'Hiragino Sans GB', 'Heiti SC', 'Heiti TC', 'STHeiti', 'STXihei', 'Arial', "Microsoft YaHei";
$font_priority_code: 'Source Code Pro', 'Lucida Grande', 'Helvetica Neue', 'Hiragino Sans GB', 'Heiti SC', 'Heiti TC', 'STHeiti', 'STXihei', 'Arial', "Microsoft YaHei";

// font weight
$font_weight: (
    "thin-extreme":  100,
    "thin":          200,
    "regular-light": 300,
    "regular":       400,
    "regular-heavy": 500,
    "bold":          600,
    "bold-extreme":  700
);

@each $font_weight_name, $font_weight_value in $font_weight {
    .font-#{$font_weight_name} {
        font-weight: $font_weight_value !important;
    }
}

// font size
$font_size: (
    "tiny": 0.8rem,
    "small": 1rem,
    "normal":1.2rem,
    "large": 1.3rem,
    "large-extreme": 1.5rem,
    "huge": 2rem,
    "huge-extreme": 3rem
);

@each $font_size_name, $font_size_value in $font_size {
    .font-#{$font_size_name} {
        font-size: $font_size_value !important;
    }
}